@font-face {
  font-family: "Pitcrew";
	src: url("../fonts/Pitcrew-Regular.woff");
}

@font-face {
  font-family: "TT Commons Bold";
	src: url("../fonts/TTCommons-Bold.woff");
}

@font-face {
  font-family: "TT Commons Medium";
  src: url("../fonts/TTCommons-Medium.woff");
}

@font-face {
  font-family: "TT Commons Regular";
  src: url("../fonts/TTCommons-Regular.woff");
}

@font-face {
  font-family: "TT Commons Light";
  src: url("../fonts/TTCommons-Light.woff");
}
