* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 1vw;
  background-color: black;
  overflow-x: hidden;
}

hr {
  border: none;
  color: white;
  background-color: white;
}

.menu {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-end;
  height: 8.5vh;

  font-family: "TT Commons Regular";
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

header {
  height: 110vh;
  background-image: url("../images/diamonds.svg");
  background-size: cover;

  margin-bottom: 5vw;
}

header ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

header a {
  padding-right: 3vw;
  text-decoration: none;
  color: white;
}

.heading-section {
  float: right;
  width: 25%;
  margin-right: 4vw;
}

.menu img {
  padding-left: 3vw;
  width: 10%;
}

hr {
  border: none;
  color: white;
  background-color: white;
  height: 3px;
}

.heading-section h1 {
  font-family: "TT Commons Regular";
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

.heading-title span {
  font-family: "Pitcrew";
  font-size: 8rem;
  /* text-transform: uppercase; */
  color: #F013FF;
}

.heading-title span:first-of-type {
  float: left;
  margin-top: 30vh;
}

.heading-title span:last-of-type {
  float: right;
  margin-top: 2vh;
}

#about-author {
  height: 100vh;
}

.my-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 8vw;
}

.my-info p {
  font-family: "TT Commons Regular";
  font-size: 3rem;
  line-height: 3.6rem;
  color: white;
  width: 80%;
  margin-left: -15vw;
  padding-right: 33vw;
  opacity: 0;
}

.my-info span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.my-info img {
  float: right;
  width: 35%;
  margin-right: -24vw;

}

#about-project {
  height: 100vh;
}

.project-info {
  font-family: "TT Commons Medium";
  font-size: 5rem;
  line-height: 6.5rem;
  color: white;
  padding-top: 8vw;
  height: 100vh;
}

.project-info p {
  position: absolute;
  z-index: 3;
  margin-left: 15vw;
  width: 60%;
}

/* .project-info span:nth-of-type(1) {
  background-image: url(../images/line1.svg);
  background-size: 100%;
  background-repeat: ;
  background-position: 0% 130%;

} */

.project-info span:nth-of-type(2) {
  background-image: url(../images/line-small.svg);
  background-size: 11%;
  background-repeat: repeat-x;
  background-position: 100% 100%;
}

.project-info img:nth-of-type(1){
  position: absolute;
  z-index: 2;
  width: 32%;
  margin-left: 15vw;
  margin-top: 5vw;
}

.project-info img:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  margin-left: 46vw;
  margin-top: 5vw;
  width: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}

/* .project-info img:nth-of-type(2):hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.5s;
} */
.ideas-info p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 55%;
  margin-left: 15vw;
}

.ideas-info p:first-of-type {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 55%;
  margin-left: 15vw;
  padding-bottom: 3vw;
}

.ideas-info p:nth-of-type(2) {
  padding-bottom: 8vw;
}

.ideas-info h4:nth-of-type(2) {
  margin-bottom: 6vw;
}

.pic-2 h4 {
  margin-left: 0;
  padding-right: 3vw;
}

.pic-1 h4, .pic-2 h4, .pic-3 h4, .pic-5 h4, .pic-6 h4, .pic-7 h4  {
  font-family: "TT Commons Light";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 35vw;
}

.pic-4 p {
  margin-bottom: 12vw;
}

/* .pic-5 h4 {
  margin-left: 15vw;
} */

.pic-1, .pic-3, .pic-6 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-2, .pic-5, .pic-7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-1 img, .pic-2 img, .pic-3 img, .pic-5 img, .pic-6 img, .pic-7 img {
  width: 40%;
}

.pic-1 img, .pic-3 img {
  padding-right: 3vw;
}

/* .pic-3 img {
  border-radius: 5px;
} */

.phrase {
  font-family: "TT Commons Light";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 50vw;

  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-5 h4 {
  width: 20vw;
  padding-right: 4vw;
}

.pic-8 {
  text-align: center;
  margin-bottom: 18vw;
}

.pic-8 img {
  text-align: center;
  width: 50vw;
}

.branding-info {
  padding-top: 8vw;
  margin-left: 18vw;
}

.branding-info img {
  width: 50vw;
  margin-bottom: 15vw;
}

.part-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8vw;
}

.text {
  width: 45vw;
}

.part-1 .text h2, .part-2 h2, .part-3 .text h2 {
  font-family: "TT Commons Bold";
  font-size: 3rem;
  color: white;
  margin-bottom: 2vw;
}

.part-1 .text p, .part-2 p, .part-3 .text p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 34vw;
}

.part-1 .text p {
  width: 42vw;
}

.part-1 img {
  width: 30vw;
  margin-right: 4vw;
  margin-bottom: 0;
}

.part-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}

.part-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8vw;
}

.part-3 img {
  width: 56vw;
  margin-right: 3vw;
  margin-bottom: 0;
}

#contacts a {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  text-decoration: underline;
  color: white;
}

#contacts p {
  font-family: "TT Commons Medium";
  font-size: 2.5rem;
  color: white;
  padding-bottom: 2vw;
}

#contacts ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contacts ul a {
  padding-bottom: 1vw;
}

#contacts ul a:nth-of-type(4) {
  padding-bottom: 0;
}

.links {
  padding-top: 8vw;
}

.links, .email, .curator {
  margin-left: 15vw;
  padding-bottom: 6vw;
}
