* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 1vw;
  background-color: black;
  overflow-x: hidden;
}

hr {
  border: none;
  color: white;
  background-color: white;
}

.menu {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: flex-end;
  height: 8.5vh;

  font-family: "TT Commons Regular";
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

header {
  height: 110vh;
  background-image: url("../images/diamonds.svg");
  background-size: cover;

  margin-bottom: 5vw;
}

header ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

header a {
  padding-right: 3vw;
  color: white;
  text-decoration: none;
}

header a:nth-of-type(1):hover, header a:nth-of-type(2):hover, header a:nth-of-type(3):hover, header a:nth-of-type(4):hover, header a:nth-of-type(5):hover, header a:nth-of-type(6):hover, header a:nth-of-type(7):hover {
  text-decoration-line: underline;
  text-decoration-color: #F013FF;
  transition: all 0.3s ease-out;
}

.heading-section {
  float: right;
  width: 25%;
  margin-right: 4vw;
}

.menu img {
  padding-left: 3vw;
  width: 10%;
}

hr {
  border: none;
  color: white;
  background-color: white;
  height: 3px;
}

.heading-section h1 {
  font-family: "TT Commons Regular";
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}

.heading-title span {
  font-family: "Pitcrew";
  font-size: 8rem;
  /* text-transform: uppercase; */
  color: #F013FF;
}

.heading-title span:first-of-type {
  float: left;
  margin-top: 30vh;
}

.heading-title span:last-of-type {
  float: right;
  margin-top: 2vh;
}

#about-author {
  height: 100vh;
}

.my-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 8vw;
}

.my-info p {
  font-family: "TT Commons Regular";
  font-size: 3rem;
  line-height: 3.6rem;
  color: white;
  width: 80%;
  margin-left: -15vw;
  padding-right: 33vw;
  opacity: 0;
}

.my-info span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.my-info img {
  float: right;
  width: 35%;
  margin-right: -24vw;

}

#about-project {
  height: 100vh;
}

.project-info {
  font-family: "TT Commons Medium";
  font-size: 5rem;
  line-height: 6.5rem;
  color: white;
  padding-top: 8vw;
  height: 100vh;
}

.project-info p {
  position: absolute;
  z-index: 3;
  margin-left: 15vw;
  width: 60%;
}

/* .project-info span:nth-of-type(1) {
  background-image: url(../images/line1.svg);
  background-size: 100%;
  background-repeat: ;
  background-position: 0% 130%;

} */

.project-info span:nth-of-type(2) {
  background-image: url(../images/line-small.svg);
  background-size: 11%;
  background-repeat: repeat-x;
  background-position: 100% 100%;
}

.project-info img:nth-of-type(1){
  position: absolute;
  z-index: 2;
  width: 32%;
  margin-left: 15vw;
  margin-top: 5vw;
}

.project-info img:nth-of-type(2) {
  position: absolute;
  z-index: 1;
  margin-left: 46vw;
  margin-top: 5vw;
  width: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.5s;
}

/* .project-info img:nth-of-type(2):hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transition: 0.5s;
} */
.ideas-info p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 55%;
  margin-left: 15vw;
}

.ideas-info p:first-of-type {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 55%;
  margin-left: 15vw;
  padding-bottom: 3vw;
}

.ideas-info p:nth-of-type(2) {
  padding-bottom: 8vw;
}

.ideas-info h4:nth-of-type(2) {
  margin-bottom: 6vw;
}

.pic-2 h4 {
  margin-left: 0;
  padding-right: 3vw;
}

.pic-1 h4, .pic-2 h4, .pic-3 h4, .pic-5 h4, .pic-6 h4, .pic-7 h4  {
  font-family: "TT Commons Light";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 35vw;
}

.pic-4 p {
  margin-bottom: 12vw;
}

/* .pic-5 h4 {
  margin-left: 15vw;
} */

.pic-1, .pic-3, .pic-6 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-start;
  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-2, .pic-5, .pic-7 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-1 img, .pic-2 img, .pic-3 img, .pic-5 img, .pic-6 img, .pic-7 img {
  width: 40%;
}

.pic-1 img, .pic-3 img {
  padding-right: 3vw;
}

/* .pic-3 img {
  border-radius: 5px;
} */

.phrase {
  font-family: "TT Commons Light";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 50vw;

  margin-left: 15vw;
  margin-bottom: 12vw;
}

.pic-5 h4 {
  width: 20vw;
  padding-right: 4vw;
}

.pic-8 {
  text-align: center;
  margin-bottom: 18vw;
}

.pic-8 img {
  text-align: center;
  width: 50vw;
}

#branding {
  margin-bottom: 18vw;
}

.branding-info {
  padding-top: 8vw;
  margin-left: 18vw;
}

.branding-info img {
  width: 50vw;
  margin-bottom: 15vw;
}

.part-1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8vw;
}

.text {
  width: 45vw;
}

.part-1 .text h2, .part-2 h2, .part-3 .text h2, .part-4 .text-info .text h2, .part-5 .text h2 {
  font-family: "TT Commons Bold";
  font-size: 3rem;
  color: white;
  margin-bottom: 2vw;
}

.part-1 .text p, .part-2 p, .part-3 .text p, .part-4 .text-info .text p, .part-5 .text p, .part-6 p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 34vw;
}

.part-1 .text p {
  width: 42vw;
}

.part-1 img {
  width: 30vw;
  margin-right: 4vw;
  margin-bottom: 0;
}

.part-2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}

.part-3 {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 8vw;
}

.part-3 img {
  width: 56vw;
  margin-right: 3vw;
  margin-bottom: 0;
}

.part-4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 8vw;
}

.text-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 4vw;
}

.text-info img {
  width: 40vw;
  margin-right: 4vw;
  margin-bottom: 0;
}

.colors-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  width: 78vw;
}

.color-black {
  width: 24vw;
  height: 18vw;

  background: #000000;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2vw;
  text-align: center;
}

.color-magenta  {
  width: 24vw;
  height: 18vw;

  background: #F013FF;
  border: 2px solid #F013FF;
  box-sizing: border-box;
  border-radius: 2vw;
  text-align: center;
}

.color-electricblue  {
  width: 24vw;
  height: 18vw;

  background: #84F0FF;
  border: 2px solid #84F0FF;
  box-sizing: border-box;
  border-radius: 2vw;
  text-align: center;
}

.colors-1 p {
  font-family: "TT Commons Regular";
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-top: 35%;
  text-transform: uppercase;
}

.part-5 {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 8vw;
}

.part-5 .text {
  display: flex;;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.part-5 .text p {
  margin-bottom: 4vw;
}

.part-5 img {
  width: 50%;
  margin-right: 4vw;
  margin-bottom: 0;
}

.colors-2 {
  width: 40vw;

  display: grid;
  grid-template-columns: 10vw 10vw 10vw;
  grid-template-rows: 4vw 4vw;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
}

.color-1 {
  width: 10vw;
  height: 4vw;

  background: #4A00D0;
  border-radius: 3vw;
}

.colors-2 p {
  margin-top: 0.9vw;
  margin-left: 1vw;
}

.color-2 {
  width: 10vw;
  height: 4vw;

  background: #84F0FF;
  border-radius: 3vw;
}

.color-3 {
  width: 10vw;
  height: 4vw;

  background: #000000;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 3vw;
}

.color-4 {
  width: 10vw;
  height: 4vw;

  background: #9224FF;
  border-radius: 3vw;
}

.color-5 {
  width: 10vw;
  height: 4vw;

  background: #40FFD6;
  border-radius: 3vw;
}

.color-6 {
  width: 10vw;
  height: 4vw;

  background: #F013FF;
  border-radius: 3vw;
}

.part-6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10vw;
  text-align: left;
  justify-content: flex-start;
}

.part-6 iframe {
  margin-bottom: 4vw;
  width: 53.4vw;
  height: 30vw;
}

.part-6 p {
  text-align: left;
}

#posters {
  padding-bottom: 18vw;
}

.graphic-posters {
  padding-top: 8vw;
  margin-left: 18vw;
  margin-right: 10vw;
  margin-bottom: 25vw;
}

.posters-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: -8vw;
}

.posters-description p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: black;
  width: 34vw;
}

.graphic-posters img {
  cursor: pointer;
}

.posters-description img {
  width: 30vw;
  box-shadow: 0 0 2vw rgba(0,0,0,0.5);
}

.posters-images {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.posters-images img:nth-of-type(1), .posters-images img:nth-of-type(3) {
  float: left;
  text-align: left;
  margin-bottom: -8vw;
  box-shadow: 0 0 2vw rgba(0,0,0,0.5);
}

.posters-images img:nth-of-type(2) {
  float: right;
  text-align: right;
  margin-bottom: -8vw;
  margin-left: 41vw;
  box-shadow: 0 0 2vw rgba(0,0,0,0.5);
}

.posters-images img {
  width: 30vw;
}

.web-posters {
  margin-left: 18vw;
}

.web-posters p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: black;
  width: 50vw;
  margin-bottom: 8vw;
}

.web-posters h2 {
  font-family: "TT Commons Bold";
  font-size: 3rem;
  margin-bottom: 2vw;
}

.github-pages {
  width: 53.6vw;
  height: 34vw;
  background: #FFFFFF;
  border: 0.2vw solid #000000;
  box-sizing: border-box;
  border-radius: 2vw;
}

.web-posters .content {
  margin-bottom: 8vw;
}

.web-posters iframe {
  width: 53.4vw;
  height: 30vw;
  margin-bottom: 8vw;
}

.github-pages iframe {
  border-radius: 0 0 2vw 2vw;
  /* margin-left: -1vw; */
  /* padding-top: 4vw; */
}

.github-head {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 0.2vw solid #000000;
  height: 4vw;
}

.github-head .circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  display: inline-block;

  background-color: #000000;

  margin-left: 1vw;
}

.web-posters .content img {
  width: 60%;
  margin-bottom: 8vw;
}

.content img:nth-of-type(2) {
  margin-left: 25vw;
}

#book {
  margin-left: 18vw;
}

.book-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 8vw;

  margin-bottom: 8vw;
}

.book-description p {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  line-height: 2.4rem;
  color: white;
  width: 80%;
  margin-right: 4vw;
}

.book-description img {
  width: 70%;
  margin-right: -20vw;
}

#book iframe {
  margin-bottom: 8vw;
  width: 53.4vw;
  height: 30vw;
}

.book-images img {
  width: 60%;
  margin-bottom: 8vw;
}

.book-images img:nth-of-type(1), .book-images img:nth-of-type(3) {
  margin-left: 25vw;
}

#contacts a {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  text-decoration: underline;
  color: white;
}

#contacts p {
  font-family: "TT Commons Medium";
  font-size: 2.5rem;
  color: white;
  padding-bottom: 2vw;
}

#contacts ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#contacts ul a {
  padding-bottom: 1vw;
}

#contacts ul a:nth-of-type(4) {
  padding-bottom: 0;
}

.links {
  padding-top: 8vw;
}

.links, .email, .curator {
  margin-left: 15vw;
  padding-bottom: 6vw;
}
