* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  font-size: 1vw;
  background-color: black;
}

hr {
  border: none;
  color: white;
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 5vh;

  font-family: "TT Commons Regular";
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

header {
  height: 100vh;
  background-image: url("../images/diamonds.svg");
  background-size: cover;

  margin-bottom: 5vw;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header li {
  padding-right: 2vw;
}

.heading-section {
  float: right;
  width: 25%;
  margin-right: 3vw;
}

hr {
  border: none;
  color: white;
  background-color: white;
  height: 2px;
}

.heading-section h1 {
  font-family: "TT Commons Regular";
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
}

.heading-title span {
  font-family: "Pitcrew";
  font-size: 8rem;
  color: #F013FF;
}

.heading-title span:first-of-type {
  float: left;
  margin-top: 30vh;
}

.heading-title span:last-of-type {
  float: right;
  margin-top: 2vh;
}

.my-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-top: 8vw;
}

.my-info p {
  font-family: "TT Commons Regular";
  font-size: 3rem;
  line-height: 3.6rem;
  color: white;
  width: 80%;
  margin-left: 15vw;
  padding-right: 4vw;
}

.my-info span {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.my-info img {
  float: right;
  width: 35%;
  margin-right: -25vw;
}

.project-info {
  font-family: "TT Commons Medium";
  font-size: 4.5rem;
  line-height: 5rem;
  color: white;
  padding-top: 8vw;
}
